<div class="controls">
    <button class="btn btn_start" (click)="startGame()" *ngIf="!gameIsInProgress">Начать игру</button>
    <button class="btn btn_shuffle" (click)="shuffle()" *ngIf="!gameIsInProgress">Перемешать</button>
    <button class="btn btn_end" (click)="endGame()" *ngIf="gameIsInProgress">Закончить игру</button>
</div>
<div class="field">
    <div
            class="card"
            [class.card_closed]="!card.isOpened"
            *ngFor="let card of cards"
            (click)="cardClicked(card.id)">
        <ng-container *ngIf="!card.solved">
            <img class="card__side card__side_front" [src]="card.image" [alt]="card.id">
            <img class="card__side card__side_back" src="assets/images/card__back.jpg" alt="Рубашка карты">
        </ng-container>
    </div>
</div>