/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0;
    color: #333;
}

.btn {
    padding: 10px 15px;
    margin-left: 5px;
    margin-bottom: 2.5px;
    border: 0;
    border-radius: 3px;
}

.btn_blue {
    background-color: lightblue;
}

.btn_yellow {
    background-color: lightyellow;
}